@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #eee;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 30px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 12px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  text-align: center;
  font-weight: bold;
}

p {
  font-size: 11px;
  line-height: 17px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 25px;
  color: #fff;

  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.home_image {
  width: 1275px;
  height: 450px;
}

.image_book {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.table_user {
  margin-top: 20px;
}

.update {
  margin-top: 20px;
  margin-left: 100px;
}

.divider-title {
  border: 1px solid #dddddd;
}

.books {
  margin-bottom: 30px;
  vertical-align: top;
  margin-right: 30px;
  float: left;
  cursor: pointer;
  width: 100%;
}

.books figure {
  position: relative;
  display: inline-block;
  width: 283px;
  -moz-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  -webkit-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  -webkit-box-shadow: 0 3px 0 #e2e2e2;
  -moz-box-shadow: 0 3px 0 #e2e2e2;
  box-shadow: 0 3px 0 #e2e2e2;
}

.books figure figcaption {
  position: relative;
  z-index: 10;
  padding: 8px 18px 11px;
  background: #fff;
  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: left;
  color: #555;
}

.books figure:hover .actions {
  opacity: 1;
}

.books figure .actions {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(29,29,29,.7);
  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.books figure img {
  border: 0;
  width: 100%;
}
.btn-warning bnt-action {
  margin: 0% 0% auto;
}

figcaption .book-title {
  display: block;
  font-size: 16px;
  line-height: 33px;
  color: #0093d0;
  height: 27px;
  width: 85%;
  margin-bottom: 5px;
  overflow: hidden;
}

figcaption .book-price {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 22px;
  text-align: right;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

figcaption .book-author {
  font-size: 13px;
  color: #545454;
  display: block;
}

figcaption .book-author {
  font-size: 13px;
  color: #545454;
  display: block;
}

.books figure .actions button {
  padding: 13px 20px;
  font-size: 16px;
  top: 32%;
  position: absolute;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  line-height: 18px;
  letter-spacing: 1px;
}

.all_book {
  margin-top: 20px;
}

.paginate {
  width: 850px;
  float: right;
}

.book-like {
  margin-right: 10px;
}

.book-review {
  margin-left: 10px;
  margin-right: 10px;
}

.book-author {
  border-bottom: 2px solid #333;
}

.contact-form {
  margin-top:15px;
}
.r_textarea {
  margin-top: 10px;
  min-height:220px;
  resize:none;
}
.form-control {
  box-shadow:none;
  border-color:#eee;
}
.form-control:focus{
  box-shadow:none;
  border-color:#00b09c;
}
.main-btn{
  background:#00b09c;
  border-color:#00b09c;
  color:#fff;
}
.main-btn:hover{
  background:#00a491;
  color:#fff;
}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.review_book_title {
  margin-left: 30px;
  margin-top: 20px;
}

.review_book_infor {
  background-color: #fff;
  height: 170px;
  border-radius: 10px;
}

.review_book_rate {
  background-color: #fff;
  height: 100%;
  border-radius: 10px;
  margin-top: 10px;
  float: left;
  margin-bottom: 10px;
}

.review_book_image {
  margin-left: 10px;
  margin-top: 20px;
  width: 110px;
  height: 130px;
}

.lb_rate{
  float: left;
  margin-top: 0px;
  margin-left: 40px;
}

.r_show_textarea {
  margin-top: 10px;
  resize:none;
  background-color: #fff;
}

.rate_star {
  float: left;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 40px;
}

.lb_r_title {
  background-color: #fff;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  float: left;
  margin-bottom: 20px;
}

.review_title {
  float: left;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 40px;
  text-transform: uppercase;
}

.panel_review_content {
  margin-top: 20px;
}

.review_content_head {
  float: right;
}

.review_like {
  margin-right: 10px;
}

.review_comment {
  margin-right: 30px;
}

.i_rating {
  float: left;
}

.h5_all_reviews {
  text-align: right;
}
